@charset "UTF-8";

/*
*
* CDDL HEADER START
*
* The contents of this file are subject to the terms of the
* Common Development and Distribution License, Version 1.0 only
* (the "License"). You may not use this file except in compliance
* with the License.
*
* You can obtain a copy of the license at license/ESCIDOC.LICENSE
* or http://www.escidoc.de/license.
* See the License for the specific language governing permissions
* and limitations under the License.
*
* When distributing Covered Code, include this CDDL HEADER in each
* file and include the License file at license/ESCIDOC.LICENSE.
* If applicable, add the following below this CDDL HEADER, with the
* fields enclosed by brackets "[]" replaced with your own identifying
* information: Portions Copyright [yyyy] [name of copyright owner]
*
* CDDL HEADER END
*/

/*
* Copyright 2006-2009 Fachinformationszentrum Karlsruhe Gesellschaft
* für wissenschaftlich-technische Information mbH and Max-Planck-
* Gesellschaft zur Förderung der Wissenschaft e.V.
* All rights reserved. Use is subject to license terms.
*/

/* import eSciDoc global styles | globale eSciDoc-Stylesheets einbinden */
		@import url(./globalCSS/eSciDoc_core_em.css);

/* import component specific styles | komponentenspezifische Stylesheets einbinden */
	/* import header styles | das Stylesheet für den Seitenkopf einbinden */
		@import url(./componentCSS/header.css);	
	/* import info page styles | das Stylesheet für die Info Seiten einbinden */
		@import url(./componentCSS/infoPage.css);	
	/* import extended paginator component styles | das Stylesheet für die Komponente "erweiterter Paginator" einbinden */
		@import url(./componentCSS/extPaginator.css);
	/* import list component styles | das Stylesheet für die Listenkomponenten einbinden */
		@import url(./componentCSS/lists.css);
	/* import full item component styles | das Stylesheet für die Komponente für die Itemvollansicht einbinden */
		@import url(./componentCSS/fullItem.css);
	/* import single elements styles | das Stylesheet für die einzelnen Elemente einbinden */
		@import url(./componentCSS/externalOverrides.css);	
