/* ========================================================================== 
 ************************* imeji theme_default styles *********************** 
 * 
 *** imeji style prefix for all classes and ids: imj_ 
 * 
 ========================================================================== */

/* 
 * imeji basic - global - styles 
 */

.imj_clear {
    clear: both;
}

a:hover {
	color: #FFFFFF;
}
input {
	background-color: #CCCCCC;
}
input:hover {
	color:000000;
	background-color: #FFFFFF;
}
input:focus {
	color: #000000;
	background-color: #FFFFFF;
}







/*
*** special styles for welcome-page - start-page - infos, tabs, carousel, twitter-widget - Welcome.xhtml *** 
*/


/*
div.header {
	overflow: visible;
}

div.searchMenu {
	position: absolute;
	margin-top: 5.5em;
	margin-left: 5.5em;
}
*/

#imj_welcomeInfoWrapper {
	float: left;
}


.imj_welcomeInfo {
	min-height: 34.8333333em;
	overflow: hidden;
}
						
.imj_welcomeInfo .id_tabs ul {
	padding: 0;
	margin-top: 0;
	padding-top: 0.333333em;
	text-align: right;
	list-style-type: none;
}
						
.imj_welcomeInfo .id_tabs ul li {
	margin-left: 1%;
	padding: 1%;
	display: inline;
	font-size: 1.0909em;
	background-color: #323232;
	border-radius: 0.41666666em;
	-webkit-border-radius: 0.41666666em;
	-moz-border-radius: 0.41666666em;
	-o-border-radius: 0.41666666em;
	-ms-border-radius: 0.41666666em;
}

.imj_welcomeInfo .id_tabs .tab_content {
	float: left;
	height: 90%;
	overflow: auto;
	font-size: 1.0909em;
}

.imj_welcomeInfo .id_tabs li.ui-state-active {
	background-color: #383838;
	color: #F0F0F0;
}

.imj_welcomeInfo .id_tabs li.ui-state-active a {
	color: #F0F0F0;
}

.imj_welcomeInfo .id_tabs div.ui-tabs-hide {
	display: none;
}


.imj_startpage_carouselWrapper {
    float: left;
    margin-top: 3em;
}

.imj_startpage_carousel {
	min-height: 33.333333em; 
	overflow: hidden;
}

.imj_startpage_carouselContainer {
	max-height: 400px; 
	overflow: visible; 
	min-width: 350px; 
	width: 40%; 
	margin: 0 auto;
}	

.imj_startpage_carousel #carousel {
	height: 26.66666666em; 
	width: 90%; 
	margin: 0 auto;
	background: transparent; 
	overflow: visible !important; 
}

.imj_startpage_carousel #cloudinfoText {
	display: none;
}

.dynamicCloudinfo {
	position: absolute;
	z-index: 5600;
	background-color: #292929;
	padding: 0.75em;
}

.imj_startpage_carousel #title-text {
	margin: 0;
}

.imj_startpage_carousel #alt-text {
	margin: 0;
}

iframe#twitter-widget-0 {
	width: 99.5%;
	height: 43em;
}

iframe#twitter-widget-0 div.root div.stream{
	height: 20em !important;
}


/*
 * content container for Welcome.xhtml 
 */

.imj_cont_1 {
	width: 100%;
}

.imj_cont_1_2 {
	width: 49.85%;
}

.imj_cont_2_5 {
	width: 39.85%;
}

.imj_cont_3_5 {
	width: 59.85%;
}


/* 
 * imeji template styles (template.xhtml)  
 */


/* *LINE HEIGHTS*
.full, .full_txtBtn, .full_txtInput, .full_txtArea, .full_select, .full_label, .full_radioBtn, .full_checkbox, .full_area0, .full_area0_p0, 
.full_area0_p1, .full_area0_p2, .full_area0_p3, .full_area0_p4, .full_area0_p6, .full_area0_p7, .full_area0_p8, .full_area1, .full_area1_p0, .full_area1_p1, .full_area1_p2, .full_area1_p3, .full_area1_p4, .full_area1_p6, .full_area1_p7, .full_area1_p8, .full_area2, .full_area2_p0, .full_area2_p1, .full_area2_p2, .full_area2_p3, .full_area2_p4, .full_area2_p6, .full_area2_p7, .full_area2_p8 {
    margin-top: 0.5454em;
    margin-bottom: 0.9090em;
} */


/*
 * site wrapper  - template.xhtml *
 */
.imj_siteWrapper {
    width: 84.0909em;
    height: auto !important;
    min-height: 100%;
    margin: 0 auto;
    margin-bottom: -2.001em;
    
    overflow: hidden;
    border-left: 1px dotted #6CAD2F;
	border-right: 1px dotted #6CAD2F;
}
.imj_siteWrapper input[type="text"], input[type="password"], textarea {
	font-family: Courier,"Courier New",serif;
}


/*
 * welcome-page - start-page - infos, tabs, carousel, twitter-widget (Welcome.xhtml) 
 
 .imj_header {
  clear: both;
  width: 40.5454em;
  margin-top: 0.5454em;
  margin-bottom: 0.9090em;
  }
  */
  
 
 /* header wrapper (header.jspf - template.xhtml) */


/* full_area0 header imj_clear - header.jspf 

margin-top: 0.5454em;
    margin-bottom: 0.9090em;

 */

.imj_siteHeader {
	clear: both;
	float: left;
	display: inline;
	overflow: hidden;
	width: 81.3636em;
	margin: 0 0.0909em 0 0;
	padding: 0;
	border-width: 0;
}


/* full_area0 LogoNSearch */

.imj_siteHeaderLogoSearchSection {
	float: left;
	display: inline;
	overflow: hidden;
	width: 81.3636em; 
	height: 5.7272em;
	margin: 0 0.0909em 0 0;
	border-width: 0;
	padding: 0;
}


/* xTiny_marginLExcl half_area0 headerLogo 
cut second ? <h:panelGroup styleClass="half_area0 themePark"></h:panelGroup> ?
*/

/* Logo - Header */

.imj_siteHeaderLogo {
	background-image: url("/imeji/jsf/javax.faces.resource/imj_iconset/logo_imeji.gif"); 
	/* ?!? url("../../imj_iconset/logo_imeji.giff"); ?!? */
	background-position: left top;
    background-repeat: no-repeat;
    float: left;
	display: inline;
	overflow: hidden;
	width: 40.6363em;
	height: 5em;
	margin: -0.500em 0.0909em 0 1.3636em;
    padding: 0;
    border-width: 0;
}


/* half_area0 themePark - header.jspf */

/* 
.themePark {
    background-attachment: inherit;
    background-clip: inherit;
    background-color: inherit;
    background-image: inherit;
    background-origin: inherit;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: inherit;
}

*/

.imj_siteHeaderLogoTheme {
	 float: left;
	 display: inline;
	 overflow: hidden;
	 width: 40.6363em;
	 height: 5em;
	 margin: 0 0.0909em 0 0;
     padding: 0;
	 border-width: 0; 	 
}


/* id="content" class="imj_clear full_area0" 

	margin-top: 0.5454em;
    margin-bottom: 0.9090em;

*/

.imj_siteContent {   
	clear: both;
	float: left;
	display: inline;
	overflow: hidden;
	width: 81.3636em;
	margin: 0 0.0909em 0 0;
    padding: 0 0 2.001em 0;
    border-width: 0; 
        
}


/* imj_clear full_area0 */

.imj_siteContentSection { 
	clear: both;
	float: left;
	display: inline; 
	overflow: hidden;
	width: 81.3636em;
	margin: 0 0.0909em 0 0;
	padding: 0;
	border-width: 0; 
}
   




/*
 * mainMenuStandard  - MainMenu.jspf
 */

/* full_area0 mainMenu */

.imj_mainMenuStandard {
	float: left;
	display: inline;
	overflow: hidden;
	width: 81.3636em;
    height: 2.4545em;
    margin: -0.500em 0.0909em 0 5.74em; 
    max-height: 2.4545em;
    padding: 0.2727em 0 0 0;
    border-width: 0;
    /* text-transform: uppercase;*/ 
}


/* styleClass="free_area0" 

.imj_mainMenuStandardItem {
	float: left;
	display: inline;
	overflow: hidden;
	padding: 0;
	border-width: 0;
}

*/


/* Main Menu */

/* .mainMenu input, .mainMenu a, .mainMenu span */

.imj_mainMenuStandard input, .imj_mainMenuStandard a, .imj_mainMenuStandard span {
	font-size: 1.273em; /*1.455em;*/
    margin-right: 0.636em; /*0.8181em;*/
    text-align: left;
    letter-spacing: 0.091em;
 }

.imj_mainMenuStandard input, .imj_mainMenuStandard a {
    background-color: #292929;
    color: #6CAD2F;
}

.imj_mainMenuStandard a {
	text-decoration: none;
}


/* .mainMenu input:hover, .mainMenu input:focus, .mainMenu a:hover, .mainMenu a:focus */
	
.imj_mainMenuStandard input:hover, .imj_mainMenuStandard input:focus, .imj_mainMenuStandard a:hover, .imj_mainMenuStandard a:focus {
		color: #f0f0f0;
}



/* Content */ 

/* small_marginLIncl subHeaderSection */

.imj_siteContentSubSection {
	margin-bottom: 0.4545em;
	margin-left: 5.8181em;
}

/* contentMenu */

.imj_contentMenuWrapper {
	margin-top: 0;
	padding-top: 0;
}


.imj_contentMenuWrapper * {
    float: left;
    line-height: normal;
}


/* .contentMenu * !!!

.imj_contentMenu * {
    float: left;
    line-height: normal;
}

*/



/* .contentMenu .sub 

*/

.imj_contentMenu {
	float: left;
	display: inline;
    overflow: hidden;
    height: 1.6363em;
    margin: 0.0909em 0 0 0;
    padding: 0;
    border-width: 0;
    text-transform: uppercase;
    line-height: normal;		
}



/* .contentMenu .action *  xHuge_area0 sub action - template_paginator_containers.xhtml */


.imj_contentSubMenu {
	overflow: visible;
	clear: left;
	display:inline;
	margin: 0;
	padding: 0.1818em 0 0 0;
	
	height: 1.6363em;
	max-height: 1.6363em;
	
	white-space:nowrap;
	text-transform:none;
}


.contentMenu {
	margin-top: 0em;
	padding-top: 1.46em;
}

.contentMenu .sub {
	overflow: hidden;
	height:1.6363em;
	margin-top:0.0909em;
	text-transform:uppercase;
}

.contentMenu .action {
	overflow: visible;
	clear: left;
	padding: 0px;
	margin: 0px;
	height:1.6363em;
	max-height:1.6363em;
	padding-top:0.1818em;
	display:inline;
	white-space:nowrap;
	text-transform:none;
}






.imj_contenSubMenu input, .imj_siteContenSubMenu a, .imj_siteContenSubMenu span {
	font-size: 1.273em; /*1.455em;*/
    margin-right: 0.636em; /*0.8181em;*/
    text-align: left;
    text-decoration: none;
}




/* free_area0 span */

.imj_contenMenuItem {
	float: left;
	display: inline;
	overflow: hidden;
	margin: 0 0.0909em 0 0;
	padding: 0;
	border-width: 0;
}






.contentMenu input, .contentMenu a {
	float: left;
	text-decoration: none;
	white-space: nowrap;
}




.contentMenu .seperator  {
	float: left;
	width: 0.10em;
	height: 1.15em;
	margin: 0px;
	margin-left: 0.46em;
	margin-right: 0.46em;
	padding: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-top-width: 0.18em;
	border-top-style: solid;
	border-bottom-width: 0.97em;
	border-bottom-style: solid;
}









/* id="contentSkipLinkAnchor" class="headLine"*/

.imj_siteContentHeadline {
	float: right;
    text-align: right;
    white-space: nowrap;
	line-height: normal;
    margin: 0;    
}

/* .headLine h1 */

.imj_siteContentHeadline h1 {
	color: #F0F0F0;
	font-size: 2.364em;
    letter-spacing: 0.091em;
    display: block;
    height: 0.9474em;
    max-height: 0.9474em;
    line-height: normal;
    margin: -0.11em 0 0.28em;  
     
}







/*
 * simple search menu
 */
.imj_simpleSearch {
	float: right;
	margin: 1em 0 0 0; 
	overflow: visible;
}

.imj_icoMagnifier_ffffff_23 {
	float: left;
	display: inline-block;
	height: 2em;
    width: 2em;
	margin-right: 1em;  /*0.636363em;*/ 
	margin-top: -0.1818em;
	background-image: url("/imeji/jsf/javax.faces.resource/imj_iconset/All_Search_LensStart_23_Static.gif"); 
	/* ?!? url("../../imj_iconset/All_Search_LensStart_23_Static.gif"); - relative path does not work! 
	background-image: url("/imeji/jsf/javax.faces.resource/imj_iconset/F0F0F0/imjMagnifierTopLeft_23.png"); 
	- produces a 'bottom-line' - is not transparent! */
    background-position: center center;
    background-repeat: no-repeat;
}

.imj_simpleSearchInputWrapper {
	display: inline-block;
	vertical-align: top;
}

.imj_simpleSearchInput {
	width: 17em;
}

.imj_simpleSearchButtonSubmit {
	height: 1.818em; /*1.7272em;*/
	margin-left: 0.455em; /*0.37em;*/
    padding: 0.091em 1em; /* 0.0909em 1em; */
    background-color: #6CAD2F;
    border-color: #6CAD2F;
    color: #F0F0F0;
}

.imj_simpleSearchButtonSubmit:hover {
	background-color: #393939;
	border-color:#393939;
	color: #FFFFFF;
}

.imj_simpleSearch input[type=radio] {
	border: 0 none;
}

.imj_simpleSearch input[type=radio]+label {
	margin-right: 1em;
}

.imj_simpleSearchLinkAdvancedsearch {
	margin-top: 0.18em;
	margin-left: 2.0909em;
	white-space: nowrap;
	display: inline-block;
}








/*
 * footer - info, image
 */

.imj_footer img {
	border: 0 none;
	margin: 0 1%;
}

.imj_poweredby {
	padding: 1em 1.25em 1.25em 1em; 
	text-align: center;
}

.imj_community_logo {
	background-color: #ffffff; 
	-moz-border-radius: 7px; 
	border-radius: 7px; 
	padding: 1%; 
	margin-right: 5%;
}

.imj_build_date {
	text-align: center;
	font-size: 75%;
}





/*
 * breadcrump component (History.xhtml)
 */ 
.imj_breadcrumpHistory {
	width: 92.75%;
	padding-left: 7%;
}
.imj_breadcrumpHistory .imj_breadcrumpTitle {
	margin-right: 0.3636em;
}

.imj_breadcrumpHistory .imj_breadcrumpItem {
	line-height: 2.18em;
}
.imj_breadcrumpHistory .imj_breadcrumpSeparator {
	margin-left: 0.3636em;
	margin-right: 0.3636em;
}



/*
 * metaMenuStandard
 */
.imj_metaMenuStandardSingleLine {
	width: 100%;
}
.imj_metaMenuStandardSingleLine .imj_metaMenuItemsAlign {
	float: right;
}
.imj_metaMenuStandardSingleLine .imj_metaMenuSeparator {
	height: 1.5454em;
	width: 0.0909em;
	margin: 0 0.72727em;
	border-right: solid #6CAD2F 0.090909em;
	display: inline-block;
}
.imj_metaMenuStandardSingleLine select.imj_metaMenuItem {
	color: #000000;
}
.imj_metaMenuStandardSingleLine .imj_metaMenuItem:not[select] {
	color: #6CAD2F;
	display: inline;
}
.imj_metaMenuStandardSingleLine .imj_metaMenuItem input[type="text"],
.imj_metaMenuStandardSingleLine .imj_metaMenuItem input[type="password"] {
	background-color: #292929;
    color: #6CAD2F;
    font-size: 0.75em;
   	height: 1.4545em;
   	width: 10.2727em;
   	border: solid #6CAD2F 0.0909em;
   	margin-right: 0.1818em;
}
.imj_metaMenuStandardSingleLine .imj_metaMenuItem input[type="text"]:hover,
.imj_metaMenuStandardSingleLine .imj_metaMenuItem input[type="password"]:hover {
	color: #FFFFFF;
}
.imj_metaMenuStandardSingleLine .imj_metaMenuItem input[type="text"]:focus,
.imj_metaMenuStandardSingleLine .imj_metaMenuItem input[type="password"]:focus {
	color: #FFFFFF;
}
.imj_metaMenuStandardSingleLine .imj_metaMenuItem input[type="submit"] {
	background-color: #292929;
	color: #6CAD2F;
	padding: 0;
	height: 1.4545em;
	border: none 0;
	padding-top: 0.1818em;
}
.imj_metaMenuStandardSingleLine .imj_metaMenuItem input[type="submit"]:hover {
	color: #FFFFFF;
}




/*Dialog - .messageArea - .messageArea .half_area2_p6 */

.messageArea {
	width: 39.1818em;

	display: inline;
    float: left;
    
    background-color: #f0f0f0;
    color: 
    border-style: solid;
    border-width: 0.091em;

	
	margin-bottom: 1em;
	padding: 0.83em 0.92em 1.37em 0.92em  !important;
	
}


.errorMessageArea {
    border-color: #D80000;
}




