@charset "UTF-8";

/*
*
* CDDL HEADER START
*
* The contents of this file are subject to the terms of the
* Common Development and Distribution License, Version 1.0 only
* (the "License"). You may not use this file except in compliance
* with the License.
*
* You can obtain a copy of the license at license/ESCIDOC.LICENSE
* or http://www.escidoc.de/license.
* See the License for the specific language governing permissions
* and limitations under the License.
*
* When distributing Covered Code, include this CDDL HEADER in each
* file and include the License file at license/ESCIDOC.LICENSE.
* If applicable, add the following below this CDDL HEADER, with the
* fields enclosed by brackets "[]" replaced with your own identifying
* information: Portions Copyright [yyyy] [name of copyright owner]
*
* CDDL HEADER END
*/

/*
* Copyright 2006-2009 Fachinformationszentrum Karlsruhe Gesellschaft
* für wissenschaftlich-technische Information mbH and Max-Planck-
* Gesellschaft zur Förderung der Wissenschaft e.V.
* All rights reserved. Use is subject to license terms.
*/

/*GENERAL*/

@media print {

	.messageArea {display: none;}
}

.fullItem {
	border-top-width: 0.19em !important;
	border-top-style: solid;
	border-bottom-width: 0.09em !important;
	border-bottom-style: solid;
}

.fullItem table, .fullItem td, .fullItem tr, .fullItem th {
	margin: 0px;
	padding: 0px;
}

.fullItem .radioButtonTable td {
	display: block !important;
	float: left !important;
}

.fullItem .seperator {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 0.09em;
	height: 0em;
	border-width: 0px;
	border-top-width: 1.3em;
	border-style: solid;
}

.fullItem .metaDataSection, .fullItem .detailedItem {
	margin-right: 0.74em;
	margin-top: 0.74em;
	margin-bottom: 0.74em;
}

.fullItem .detailedItem {
	border: 0.10em;
	text-align: center;
}

.fullItem .detailedItem img {
	border: 0px;
	border-style: solid;
}

.fullItem .detailedItem img.horizontal {
	width: 100%;
	vertical-align:middle;
}
		
.fullItem .detailedItem img.vertical {
	height: 100%;
	margin: 0 auto 0 auto !important;
}

/*HEADER*/

@media print {
	
	.fullItem .fullItemControls {display: none;}
}

.fullItem ol {
	list-style: none;
	padding: 0px;
}

.fullItem .fullItemControls .seperator {
	float: right;
	margin-top: 0.45em;
}

.fullItem .fullItemControls a {
	float: right;
	padding: 0em 0.37em 0em 0.37em !important;
	margin: 0.37em 0.28em 0.36em 0.28em;
	line-height: normal;
}

.fullItem .itemBlock, .fullItem .itemHeader {
	border-top-width: 0.09em !important;
	border-top-style: solid !important;
}

.fullItem .itemHeader .statusArea {
	margin-top: 0.56em;
}

.fullItem .itemHeader .statusArea * {
	float: left;
}

.fullItem .itemHeadline {
	width: 53.82em;
}

.fullItem .listItem .itemHeadline {
	padding-bottom: 1em;
	padding-top: 0.19em;
	width: 53.82em;
}

.fullItem .listItem .itemHeader {
	margin-left: 5.18em;
	border-top-width: 0.00em !important
}

.fullItem .itemBlockSubHeader {
	float: left;
	white-space: nowrap;
	margin-left: -0.74em;
}

.fullItem .listItem .itemHeader, .fullItem .listItem .shortView {
	margin-bottom: 0.5em;
}

.easySubmissionHeader .step {
	padding-top: 0.19em;
	margin-bottom: 5em;
}

/*BODY*/

.fullItem .blockHeader {
	text-align: right;
	padding-top: 0px;
	padding-bottom: 0px;
}

.fullItem .fullsizedBlock {
	width: 78.37em;
}

.fullItem .itemBlock .expand, .fullItem .itemBlock .collapse {
	display: none;
	line-height: normal;
	margin-left: 0.73em;
	margin-top: 0.19em;
	padding-bottom: 0.19em;
}

.itemBlock .itemBlockContent {
	width: 66.74em;
}

.itemBlock .itemLine {
	width: 66.74em;
	padding-bottom: 0.74em;
	border-top-width: 0.09em !important;
	border-top-style: solid !important;
}

.fullItem .labelLine {
	text-align: right;
	padding-top: 0.00em;
	padding-bottom: 0.00em;
}

.fullItem .socialBookmarking img {
	margin-top: 0.27em;
	margin-left: 0.27em;
}

.fullItem .noTopBorder {
	border-top-width: 0px !important;
}

.fullItem .listItem {
	padding-bottom: 0.37em;
}

.itemBlock b {
	font-weight: normal;
}

.itemBlock .firstLine {
	border-top-width: 0.00em !important;
	padding-top: 0.74em;
	padding-bottom: 0.74em;
}

.itemLine sup {
	line-height: normal;
}

/*REPLACEMENT HACK FOR IE LESS THAN 6*/
* html .itemLine sup {
	line-height: 1.83em;
}
/*REPLACEMENT HACK FOR IE 7*/
*:first-child+html .itemLine sup {
	line-height: 1.83em;
}

.itemLine .affiliation {
	width: 42em;
}

.itemLine .creator {
	width: 43.37em;
}

.fullItem .listItemLine, .fullItem li {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.fullItem .listItemLine .labelLine {
	padding-top: 0px;
	padding-bottom: 0px;
	width: 22.45em;
	margin-right: 0.82em !important;
}

.fullItem .citationBlock {
	margin-bottom: 0.46em;
}

.fileSection .fileInputPositioner {
	position: absolute;
	overflow: hidden;
	direction: rtl;
}

.fileSection .fileInput input {
	/*
	opacity: 0;
	filter: alpha(opacity=0);
	*/
	border-width: 0.0em;
}

	/*REPLACEMENT HACK FOR IE LESS THAN 6*/
	* html .fileSection .fileInput input {
		border-width: 0.10em;
	}
	/*REPLACEMENT HACK FOR IE 7*/
	*:first-child+html .fileSection .fileInput input {
		border-width: 0.10em;
	}

.fileSection .fileLabel {
	text-align: center;
	padding: 0.37em 0.0em 0.0em 0.0em;
}

.fullItem .lineToolSection, .fullItem .sectionToolSection {
	float: right;
	padding-top: 0px;
	padding-bottom: 0px;
}

.fullItem .lineToolSection .groupTool, .fullItem .sectionToolSection .groupTool {
	float: left;
}

.fullItem .lineToolSection .sectionTool, .fullItem .sectionToolSection .sectionTool {
	float: right;
}

.fullItem .lineToolSection {
	margin-top: -1.46em;
}

.fullItem .sourcesControls input, .fullItem .sourcesControls button {
	margin-top: 0.46em;
}

.fullItem .inputTxtArea {
	height: 4em;
}

.fullItem .splitBlockHeader {
	height: 4.92em;
}

.fullItem .checkboxDoubleGroup {
	width: 27.65em;
}

.formButtonArea {
	margin-top: 0.10em;
	margin-bottom: 0.10em;
}

.fullItem .toTextAreaBottom {
	margin-top: 1.00em;
}

.fullItem .toLabelBottom {
	margin-top: 1.37em;
}

.fullItem .toLabelInputBottom {
	margin-top: 2.00em;
}

.fullItem .labelToTextAreaBottom {
	margin-top: 2.56em;
}

.largeFormPush {
	margin-right: 2.36em;
}

.fullItem .singleItem {
	margin-bottom: 0.19em;
} 

.fullItem .affTreeOUIcon {
	margin-bottom: 0.27em;
	margin-right: 0.27em;
}

.fullItem .advSearchCollapse {
	 margin-top: -1.46em !important;
}

.inputInfoBox, .inputInfoBox a {
	line-height: 1.6em;
	cursor: pointer;
}

/*VALIDATION (Cone)*/

.validatedUnique input {
	 border-color: green;
}

.validatedUnique {
	 color: white;
	 background-color: green;
}

