@charset "UTF-8";

/*
*
* CDDL HEADER START
*
* The contents of this file are subject to the terms of the
* Common Development and Distribution License, Version 1.0 only
* (the "License"). You may not use this file except in compliance
* with the License.
*
* You can obtain a copy of the license at license/ESCIDOC.LICENSE
* or http://www.escidoc.de/license.
* See the License for the specific language governing permissions
* and limitations under the License.
*
* When distributing Covered Code, include this CDDL HEADER in each
* file and include the License file at license/ESCIDOC.LICENSE.
* If applicable, add the following below this CDDL HEADER, with the
* fields enclosed by brackets "[]" replaced with your own identifying
* information: Portions Copyright [yyyy] [name of copyright owner]
*
* CDDL HEADER END
*/

/*
* Copyright 2006-2010 Fachinformationszentrum Karlsruhe Gesellschaft
* für wissenschaftlich-technische Information mbH and Max-Planck-
* Gesellschaft zur Förderung der Wissenschaft e.V.
* All rights reserved. Use is subject to license terms.
*/

/*
ALL COLORS USED

BACKGROUND		#EAF4F7
LINK COLOR		#147DA2
AUTHOR/ORG BG	#4397B4
LIGHT LINES		#A1CBDA
DROPDOWN/BG		#DCECF1
INPUT BG		#F3F8FA
PAGE TITLE		#0F313E
ERROR MSG		#E95A29
SUCCESS MSG		#56871B
DEACTIVATED		#827775
DEA LIGHT		#CDC9C8
TEXT			#524240
TEXT LIGHT		#BAB4B3
MOUSEOVER		#382926
INPUT TEXT		#000000
FORM BG			#FFFFFF

*/

/*FONT DEFINITION*/
	/*HEADER*/
		/*H1*/
		h1 {
				color: #0F313E;
				font-weight: normal;
			}
		/*H2*/
		h2 {
				font-weight: normal;
			}
		/*H3*/
		h3 {

			}
		/*H4*/
			h4 {
				
			}
		/*H5*/
		h5 {
					
			}
		/*H6*/
		h6 {
				font-weight: bold;
				color: #524240;
				margin: 0px;
			}
	/*GENERAL*/
		/*FONT RELATED*/
		body, label, input, textarea, select, button, input.numberLabel, h2, h3, h6, a {
			font-family: Trebuchet, "Trebuchet MS", sans-serif;
		}
		input[type=text], textarea {
			font-family : Courier, "Courier New", serif;
		}
		h1, h4, h5 {
			font-family: "Myriad Pro Condensed", "Arial Narrow", sans-serif;
		}
/*
*
*  COMPONENT RELATED COLORING
*
*/
/*GENERAL*/
	body {
		background-color: #EAF4F7;
		color: #524240;
		line-height: 145%;
	}
	
	body .wrapper, body .footer {
		background-color: #EAF4F7;
		border-right: 1px dotted #147DA2;
		border-left: 1px dotted #147DA2;
	}
	
	input, button, textarea, select {
		color: #000000;
	}
	
	a, a:visited {
		color: #147DA2;
		text-decoration: none;
	}
	
	a.OraLinkDisabled {
		color: #524240;
		cursor: default;
	}
	
	a:hover, a:focus, input:hover, input:focus, button:hover, button:focus {
		color: #382926;
		text-decoration: none;
	}
	
	input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover {
		cursor: pointer;
	}

	input, textarea, select {
		border-style: solid;
		border-color: #524240;
	}
	
	input[type="text"], textarea, select {
		background-color: #F3F8FA;
	}
	
	a:hover, a:focus {
	/*	text-decoration: underline; */
		cursor: pointer;
	}
	
	a:disabled, a.disabled, input:disabled, input.disabled, button:disabled, button.disabled {
		cursor: default;
		color: #827775;
	}
	/*SEPERATORS*/
	.metaMenu .seperator, .contentMenu .seperator, .pageBrowser .seperator  {
		background-color: #A1CBDA;
	}
	
	.itemList .seperator {
		background-color: #EAF4F7;
	}
	
	.fullItem .seperator, .tiledList .seperator {
		background-color: #FFFFFF;
	}
	
	.metaMenu .seperator, .contentMenu .seperator, .pageBrowser .seperator {
		border-color: #EAF4F7;
	}
	
	.fullItem .fullItemControls .seperator {
		background-color: #FFFFFF;
		border-color: #147DA2;
	}
	
	.fullItem .easySubmissionHeader .seperator {
		background-color: #FFFFFF;
		border-color: #A1CBDA;
	}
	
	.itemList .seperator, .fullItem .seperator {
		border-color: #BAB4B3;
	}
	
	.contentMenu .void {
		border-color: #EAF4F7;
		background-color: #EAF4F7;
	}

/*HEADER

-----------------------------------------------

|[ Logo ]                 [      Meta Menu   ]|

|                           [   Breadcrumb   ]|

|[ Main Menu ]                   [   Title   ]|

|[ Options ]                        	      |

|[ Actions ]                         	      |

|[ Message ]                        	      |

-----------------------------------------------

*/
	/*COLORING FOR ALL MENU INPUTS AND LABELS*/
	.metaMenu input, .metaMenu button, .metaMenu a, .quickSearchMenu a, .quickSearchCheckBoxMenu label, .advancedSearchMenu input, .advancedSearchMenu a, .organisationSearchMenu input, .organisationSearchMenu a, .mainMenu input, .mainMenu a, .contentMenu input, .contentMenu a {
		background-color: #EAF4F7;
		color: #147DA2;
	}
	
	.logoAlternate span {
		font-weight: bold;
		color: #524240;
	}
	
	.logoAlternate span a {
		font-weight: normal;
	}
	
	.contentMenu span {
		color: #524240;
	}
	
	.metaMenu input:hover, .metaMenu input:focus, .metaMenu button:hover, .metaMenu button:focus, .metaMenu a:hover, .metaMenu a:focus, .quickSearchMenu input:hover, .quickSearchMenu input:focus, .quickSearchMenu a:hover, .quickSearchMenu a:focus, .quickSearchCheckBoxMenu label:hover, .quickSearchCheckBoxMenu label:focus, .advancedSearchMenu input:hover, .advancedSearchMenu input:focus, .advancedSearchMenu a:hover, .advancedSearchMenu a:focus, .organisationSearchMenu input:hover, .organisationSearchMenu input:focus, .organisationSearchMenu a:hover, .organisationSearchMenu a:focus, .mainMenu input:hover, .mainMenu input:focus, .mainMenu a:hover, .mainMenu a:focus, .contentMenu input:hover, .contentMenu input:focus, .contentMenu a:hover, .contentMenu a:focus  {
		color: #524240;
	}
	
	/*COLORING FOR BREADCRUMB SLASHES*/
	.breadcrumb li {
		color: #636363;
	}
	/*COLORING FOR BREADCRUMB TEXT*/
	.breadcrumb li a, .breadcrumb li a:visited {
		color:#147DA2;
	}
	
	.breadcrumb li a:hover, .breadcrumb li a:focus {
		color: #382926;
	}
	
	.contentMenu span, .contentMenu input, .contentMenu a {
		font-weight: bold;
	}

/*Content

-----------------------------------------------

|         [      Paginator      ]             |

|                               	      	  |

|[ Lists & Full Item ]                        |

|         [        Footer       ]             |

-----------------------------------------------*/

/*EXT. PAGINATOR*/

	.paginatorFallbackGoBtn {
		background-color: #EAF4F7;
		color: #147DA2;
	}

	/*PAGE BROWSER*/
	.pageBrowser input, .pageBrowser button, .pageBrowser a {
		background-color: #EAF4F7;
		color: #147DA2;
	}
	
	.pageBrowser input:hover, .pageBrowser button:hover, .pageBrowser a:hover, .pageBrowser input:focus, .pageBrowser button:focus, .pageBrowser a:focus {
		color: #524240;
		cursor: pointer;
	}
	
	.pageBrowser .actual, .pageBrowser .actual:hover, .pageBrowser .actual:focus {
		font-weight: bold;
		color: #524240;
		cursor: pointer;
	}
	
	@media print {
		.pageBrowser .actual {
			font-weight: normal;
			background-color: white;
		}
	}
	
	.pageBrowser :disabled, .pageBrowser :disabled:hover, .pageBrowser :disabled:focus, .pageBrowser .deactivated, .pageBrowser .deactivated:hover, .pageBrowser .deactivated:focus {
		color: #827775;
	}
	
/* INFO PAGE*/

	.infoPage .sideSection {
		border-style: solid;
		border-left-color: #BAB4B3;
	}
	.infoPage .videoPreview {
		border-style: solid;
		border-color: #382926;
	}
/*LISTS & FULL ITEM*/

	/*GENERAL*/
	
	.itemList, .tiledList, .fullItem {
		border-top-color: #147DA2;
	}
	
	.itemList, .tiledList, .fullItem {
		border-bottom-color: #BAB4B3;
	}
	
	/*PRE-HEADER*/

	.preListHeader {
		border-top-color: #BAB4B3;
	}
	
	/*LIST HEADER*/
	
		/*GENERAL*/
	
	.listHeader a, .listHeader span {
		line-height: normal;
		font-weight: normal;
	}
	
		/*SELECT MENU*/
	
	.itemList .checkboxSelectButton {
		background-color: #FFFFFF;
		cursor: pointer;
	}
	
	.selectMenu {
		border-color: #A1CBDA;
		/*
		opacity: 0.95;
		filter: alpha(opacity=95);
		*/
	}

	.selectMenu, .selectMenu input {
		background-color: #FFFFFF;
	}

	.selectMenu span {
		font-weight: bold;
	}

	.selectMenu a:hover, .selectMenu input:hover {
		background-color: #4397B4;
		color: #FFFFFF;
	}
	
	.statusArea .ascSort, .statusArea .desSort, th .ascSort, th .desSort {
		background-color: #EAF4F7;
	}
	
	.listBackground .ascSort, .listBackground .descSort {
		background-color: #FFFFFF;
	}
	
	/*LIST ITEM*/
	
		/*GENERAL*/
		
	.listItem, .listItem td {
		border-top-color: #BAB4B3 !important;
	}
	
	.searchHit {
		background-color: #A1CBDA;
	}
	
	.preListHeader, .fullItem, .tiledList, .listBackground, .listBackground .seperator {
		background-color: #FFFFFF;
	}

	.tiledList .metaDataSection, .itemTile .tileIconArea {
		border-color: #BAB4B3 !important;
		border-style: solid;
	}
	
	.tiledList .inAlbum, .fullItem .inAlbum, .activeAlbum, .activeAlbum .seperator {
		background-color: #DAE160;
		border-color: #56871B !important;
	}

		/*ITEM HEADER*/
		
	.fullItem .itemHeadline b {
		font-size: 16px !important;
		font-weight: normal;
	}
		
	.listItem .itemHeadline b {
		font-size: 14px !important;
		font-weight: normal;
	}

	.listItem td .itemHeadline b {
		font-size: 11px !important;
		font-weight: normal;
	}
	
	.fullItem .easySubmissionHeader b {
		color: #BAB4B3;
		font-size: 16px;
	}
	
	.fullItem .easySubmissionHeader b.actual {
		color: #524240;
	}
	
	/*FULL ITEM HEADER*/
	
	.fullItem .fullItemControls a {
		cursor: pointer;
	}
	
	.fullItem .fullItemControls .actual {
		color: #FFFFFF;
		background-color: #147DA2;
	}
	
	/*FULL ITEM BLOCK*/
	
	.fullItem .metaDataSection, .fullItem .detailedItem, .fullItem .fullsizedBlock, .fullItem .splitBlockHeader, .fullItem .splitBlockBody {
		border-color: #BAB4B3 !important;
		border-style: solid;
	}
	
	.fullItem .itemBlock, .fullItem .itemHeader {
		border-top-color: #BAB4B3;
	}
	
	.itemBlock .voidBlock {
		color: #BAB4B3;
	}
	
	.fullItem li, .itemBlock .itemLine {
		border-top-color: #CDC9C8;
	}
	
	.itemBlock .newBlock {
		border-top-color: #524240;
	}
	
	.affHover {
		background-color: #EAF4F7;
	}
	
	.add, .remove {
		cursor: pointer;
	}
	
	.add:disabled, .remove:disabled {
		cursor: default;
	}
	
	.fullItem .groupBtn {
		/*font-weight: bold;*/
		color: #147DA2;
		background-color: #FFFFFF;
		text-align: left;
	}
	
	.fullItem .groupBtn:hover, .fullItem .groupBtn:focus {
		color: #382926;
		cursor: pointer;
	}
	
	.fullItem .groupBtn:disabled {
		color: #827775;
		cursor: default;
	}
	
/*SINGLE ELEMENTS*/
	.dateJSLabel {
		background-color: #DCECF1;
		color: #524240;
	}

/*FORM BUTTONS*/
	.cancelButton, .activeButton {
		border-style: solid;
		padding-top: 0.10em;
		padding-bottom: 0.10em;
	}

	.cancelButton {
		float: left;
		color: #147DA2;
		background-color: #EAF4F7;
		border-top-color: #EAF4F7;
		border-right-color: #147DA2;
		border-bottom-color: #147DA2;
		border-left-color: #EAF4F7;
	}
	
	.cancelButton:hover {
		color: #382926;
		background-color: #EAF4F7;
		border-top-color: #EAF4F7;
		border-right-color: #382926;
		border-bottom-color: #382926;
		border-left-color: #EAF4F7;
	}
	
	.activeButton {
		float: right;
		color: #FFFFFF !important;
		background-color: #147DA2 !important;
		border-color: #147DA2;
	}
	
	.activeButton:hover {
		color: #FFFFFF !important;
		background-color: #382926 !important;
		border-color: #382926;
	}
	
/*AUTOSUGGEST*/

	.ac_results {
		border-style: solid;
		border-color: #A1CBDA;
		background-color: #EAF4F7;
	}
	
	.ac_results li {
		border-bottom-style: solid;
		border-bottom-color: #A1CBDA;
		font-family: sans-serif;
	}
	
	.ac_over {
		cursor: pointer;
		background-color: #4397B4;
	}
	
	.ac_match {
		font-family: sans-serif;
		font-weight: bold;
		color: #000000;
	}

/*BLANK INPUT*/
	.blankInput {
		color: #BAB4B3;
	}	

/*MESSAGE AREAS*/
	.messageArea {
		border-style: solid;
		border-color: #147DA2;
		background-color: #FFFFFF;
		margin-bottom: 1em;
	}
	
	.infoMessageArea {
		border-color: #56871B;
	}
	
	.infoMessageArea h2 {
		color: #56871B;
	}
	
	.errorMessageArea {
		border-color: #E95A29;
	}
	
	.errorMessageArea h2 {
		color: #E95A29;
	}
	
	.absoluteMessageArea {
		position: fixed;
		z-index: 100;
	}
	
	.fixMessageBlockBtn, .fixErrorMessageBlockBtn, .fixSuccessMessageBlockBtn {
		float: right;
		background-color: #FFFFFF;
	}
	
/*ERROR OR WARNING MESSAGES*/
	.falseValue, .messageError, .messageWarn, .messageFatal {
		color: #E95A29;
	}
	
/*STATUS OR SUCCESS MESSAGE*/
	.messageStatus {
		color: #56871B;
	}

/*MANDATORY FIELD*/
	.mandatory {
/*		color: #E95A29;
		font-weight: bold;
*/	}
	
/*UNDER REWORK*/

	.underRework {
		background-color: #F43E71 !important;
	}