<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">


	<!-- A size based file rolling appender <appender name="FILE" class="org.jboss.logging.appender.RollingFileAppender"> 
		<errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler"/> <param 
		name="File" value="${jboss.server.log.dir}/server.log"/> <param name="Append" 
		value="false"/> <param name="MaxFileSize" value="500KB"/> <param name="MaxBackupIndex" 
		value="1"/> <layout class="org.apache.log4j.PatternLayout"> <param name="ConversionPattern" 
		value="%d %-5p [%c] %m%n"/> </layout> </appender> -->

	<!-- ============================== -->
	<!-- Append messages to the console -->
	<!-- ============================== -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<param name="ConversionPattern" value="%d [%t] %-5p %c- %m%n" />
		</layout>
	</appender>

	<!-- ================ -->
	<!-- Limit categories -->
	<!-- ================ -->
	<!-- Limit the org.apache category to INFO as its DEBUG is verbose -->
	<category name="org.apache">
		<priority value="info" />
	</category>

	<category name="com.hp.hpl.jena">
		<priority value="warn" />
	</category>
	<category name="c.h.h.j.t.b">
		<priority value="warn" />
	</category>


	<!-- ======================= -->
	<!-- Setup the Root category -->
	<!-- ======================= -->
	<root>
		<level value="info" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>