<?xml version="1.0" encoding="UTF-8"?>
<context:context xmlns:context="http://www.escidoc.de/schemas/context/0.7" xmlns:prop="http://escidoc.de/core/01/properties/" xmlns:srel="http://escidoc.de/core/01/structural-relations/" xmlns:xlink="http://www.w3.org/1999/xlink">
	<context:properties>
		<prop:name>Imeji images context</prop:name>
		<prop:description>This is the context where images of Imeji are stored.</prop:description>
		<prop:type>PubMan</prop:type>
		<prop:organizational-units>
			<srel:organizational-unit objid="escidoc:6012"/>
		</prop:organizational-units>
	</context:properties>
	<context:admin-descriptors xmlns:context="http://www.escidoc.de/schemas/context/0.7" >
		<context:admin-descriptor name="pubman">

			<pubman-admin-descriptor>
				<allowed-genres></allowed-genres>
				<allowed-subject-classifications></allowed-subject-classifications>
				<template-item></template-item>

				<validation-schema></validation-schema>
				<workflow>simple</workflow>
				<contact-email></contact-email>
			</pubman-admin-descriptor>

		</context:admin-descriptor>

	</context:admin-descriptors>
</context:context>


