label {
    width: 150px;
	text-align:right;
	float: left;
}

body {
	color: #666666;
	margin:0px 0px; padding:0px;
	text-align:center;
	font-family: Verdana,arial,sans-serif;
	font-size: 14px;
	line-height: 2em;
}

h1 {
	margin-top: 10px;
	font-size:24px;
}

h1 a:visited {
	color: #669900;
	
}

h2 {
	margin-bottom:0px;
	margin-top:10px;
}

h2 a:visited {
	font-size:16px;
	color: #CC6600;
}

h2 a:link {
	font-size:16px;
	color: #CC6600;
}


#page {
	width:600px;
	margin:0px auto;
	text-align:left;
	padding:15px;

}

#header {
	width: 100%;
	border-bottom: solid;
	border-width: 1px;	
	border-color: #B2B2B2;
	min-height: 50px;
}

#content {
	margin-top:20px;
}

a {
	text-decoration:none
}


a:hover {
	border-bottom: dashed;
    border-width: 1px;
}

a:visited {
	color: #669900;
}

a:active {
	color: #669900;
}


br{
	clear: both;
}
